// Colours
$black: #141414;
$dark-gray: #1E1E1E;
$gray: #282828;
$light-gray: #3C3C3C;
$white: #EBECED;

// Typography
$body-color: $white;
$body-font-size: 16px;

$link-color: rgb(180, 180, 180);
$link-hover-color: darken($link-color, 20%);

// Structure
$titlebar-height: 40px;

$titlebar-clickable-background: $black;
$titlebar-clickable-hover-background: darken($titlebar-clickable-background, 20%);
$titlebar-clickable-color: $body-color;

$wrapper-background: $gray;

$channellist-width: 179px;
$channellist-border: 1px solid $light-gray;
  $channellist-server-border: 1px solid $light-gray;
  $channellist-server-color: darken($body-color, 30%);
  $channellist-server-margin: 15px 0 0 0;
  $channellist-channel-border: 1px solid $light-gray;
  $channellist-channel-color: darken($body-color, 15%);
  $channellist-channel-unread-color: yellow;

$messagearea-nick-min-width: 100px;
$messagearea-padding: 5px 10px;

$writearea-border: 1px solid $gray;
$writearea-padding: 0 30px;
$writearea-nick-width: 100px;
