html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: underline;
}

a:hover {
    color: rgb(180, 180, 180);
    cursor: pointer;
}

#titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 40px;
    width: 100%;
    background: #000;
}

#content {
    overflow: auto;
    position:fixed !important;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding: 7px;
    margin-left: 180px;
    background: rgb(40, 40, 40);
    color: rgb(220, 220, 220);
}

#channelList {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 179px;
    color: #fff;
    background: rgb(40, 40, 40);
    border-right: 1px solid rgb(60, 60, 60);
}

#channelList ul {
    padding: 0;
}

#channelList li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style-type: none;
    padding: 7px 0 7px 10px;
    background: rgb(40, 40, 40);
    color: rgb(160, 160, 160);
}

#channelList li:hover {
    cursor: pointer;
	background: rgb(60, 60, 60);
}

#channelList li.selected {
    background: rgb(60, 60, 60);
}

#channelList li.unread {
    color: yellow;
}

#messageArea message.highlighted {
    font-weight: bold;
}

line {
  display: flex;
}

timestamp {
  width: 80px;
  display: block;
}

nick {
  display: block;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 0;
  flex-shrink: 0;
}

message {
    display: block;
}

#messageArea {
    overflow: auto;
    position:fixed !important;
    top: 3px;
    right:0;
    bottom: 50px;
    left:0;
    margin-left: 180px;
    padding: 7px 0 7px 10px;
    background: rgb(40, 40, 40);
    color: rgb(220, 220, 220);
}

#writeArea {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px 20px 7px 7px;
    background: rgb(60, 60, 60);
}

#writeArea input {
    width: 100%;
    display: block;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 5px;
    border: solid 1px #dcdcdc;
    color: rgb(40, 40, 40);
}

#writeArea input:focus {
    outline: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  background: rgba(140, 140, 140, .33);
}
